<%- include ('partial/header.ejs') %>
	
	
		<div class=" homeHeadContainer2" data-aos="fade-down-right">
			
			<div class="jumbotron jumbotronTitle jumbotronHead">
				<h1 class="display-2" data-aos="fade-right">Out of box Solutionz</h1>
				<p class="lead" data-aos="fade-right" data-aos-anchor="#trigger-left" data-aos-anchor-placement="top-bottom">If people like you, they'll listen to you. But if they trust you, they'll do business with you.</p>
			</div>
		</div>
	</div>
	<div class="container firstheaddiv">
		<div class="jumbotron jumbotronText" >
			<em><h4 class="display-5" data-aos="fade-up" data-aos-anchor="#trigger-fadeup" data-aos-anchor-placement="top-bottom">How can we help you?</h4></em>
		</div>
	</div>
	<div class="hideDiv" id="trigger-left">
		<div class="container cardDiv" id="trigger-fadeup">
				<div class="row">
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-right" data-aos-anchor="#trigger-top" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent" > 
							<br>
							<i class="fab fa-buysellads image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Lead Generation</h5>
							    <p class="card-text">We convert strangers and possibilities into someone who has indicated interest in your company's product or service.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-down" data-aos-anchor="#trigger-top" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent " > 
							<br>
							<i class="fas fa-mail-bulk image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Email Marketing</h5>
							    <p class="card-text">It is essential to build and maintain relationship with present customers and possible customers for deep rooted business which relys on email marketing, and the team helps our customer in it.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-left" data-aos-anchor="#trigger-top" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent " > 
							<br>
							<i class="fas fa-address-card image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">B2B Process</h5>
							    <p class="card-text">A product or service is complete, when it meets the right buyer. We are the finest in reaching the widened spectators to make it total.</p>
							</div>
						</div>
					</div>
				</div>
				
		</div>
		<div class="container " id="trigger-top">
				<div class="row">
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-right" data-aos-anchor="#trigger-bottom" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent " > 
							<br>
							<i class="fas fa-drafting-compass image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Website Design</h5>
							    <p class="card-text">A well designed website will help your customer make their next move. There are million reasons to have a website while there is no reason for not to have a website. Have the most relevant website design from us.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-up" data-aos-anchor="#trigger-bottom" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent " > 
							<br>
							<i class="fas fa-poll image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Digital Marketing</h5>
							    <p class="card-text">You are no more physically required to bring out your products or services to the relevant audience, we are here to do that better for you.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-left" data-aos-anchor="#trigger-bottom" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent" > 
							<br>
							<i class="fas fa-magic image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Graphic Design</h5>
							    <p class="card-text">Contemproary world is communicating more via visual to convey message. We effectively represent information graphically to convey the meaning effeciently.</p>
							</div>
						</div>
					</div>
				</div>
				
			<div>
				<div class="jumbotron jumbotronText" id="trigger-bottom">
					<em><h4 class="display-5">Meet the Man Behind</h4></em>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-left" data-aos-anchor="#trigger-leftright" data-aos-anchor-placement="top-bottom">
						<div class="card cardNiresh " > 
							<i class="image"><img class="imgNiresh"src="/image/Niresh.jpg" ></i>
						</div>
					</div>
					<div class="col-lg-8 col-12" data-aos="fade-right" data-aos-anchor="#trigger-leftright" data-aos-anchor-placement="top-bottom">
							<div class="card-body">
							    <h4 class="card-title cardTitle">Niresh Kumar</h4>
							    <h5 class="card-title cardTitle">CEO, Founder</h5>
							    <p class="card-text nireshtext">Niresh has over 8 years of experience in bring up great solutions. But his passion towards learning made things possible. He started working in startup to learn everything from basic which made him master it today. He chose 'OutofboxSolutionz' to show out his unique skill and his love towards his passion.</p>
							</div>
					</div>
					<br>
				</div>
			
			<div>
				<div class="jumbotron jumbotronText" id="trigger-leftright">
					<em><h4 class="display-5">What our Clients say</h4></em>
					</div>
				<div class="paragraphs">
				    <div class="row ">
					    <div class="clientReview">
						      <img class="clientImage" data-aos="fade-right" src="/image/ilumpartners.png"/>
						      <br>
						      <div class="content-heading" data-aos="fade-left"><h3>Illum Partners </h3></div>
						      <p data-aos="fade-left">You are my buddy entrepreneur, you love to solve problems and work with dedication. We both have fire inside to build something on our own so i wish to have your service till end of my business. You are my secret weapon.</p>
					    </div>
				    </div>
				</div>
				<div class="paragraphs">
				    <div class="row">
					    <div class="clientReview">
						      <img class="clientImage" data-aos="fade-right" src="/image/Mookambika_fashions.jpg"/>
						      <br>
						      <div class="content-heading" data-aos="fade-left"><h3>Mookambika Fashions </h3></div>
						      <p data-aos="fade-left">Your work is more appreciable, we are happy about working with you and about the timely delivery.​ Kudos for your willingness to know the coustmers need and provide solutions accordingly.</p>
					    </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	
<%- include ('partial/whtsapp.ejs') %>
<%- include ('partial/footer.ejs') %>
