<%- include ('partial/headerNoNav.ejs') %>

<%# <div class="demo" style="background-image:url(/image/galaxy1.jpg)"> %>
<%#	<a class="btn btn-dark" href="/home">Move next ?</a> %>
<%# </div>  %>

<div class="demo" style="background-image:url(/image/sea.jpg)">
	<a class="btn btn-info" href="/home">Played enough ?</a>
</div>

<%- include ('partial/footer.ejs') %>