<%- include ('partial/header.ejs') %>

		<div class="container homeHeadContainer2" data-aos="fade-down-right">
			
			<div class="jumbotron jumbotronTitle jumbotronHead">
				<h1 class="display-4" data-aos="fade-right">Services</h1>
				<p class="lead" data-aos="fade-right" data-aos-anchor="#trigger-left" data-aos-anchor-placement="top-bottom">Capture your future customers with our wide range of services.</p>
			</div>
		</div>
	</div>
	<div class="container firstheaddiv" id="trigger-left">
		<div class="jumbotron jumbotronText" >
			<em><h4 class="display-5" data-aos="fade-up" data-aos-anchor="#trigger-fadeup" data-aos-anchor-placement="top-bottom">What do we do?</h4></em>
		</div>
	</div>
	
	<div class="hideDiv">
		<div class="container cardDiv" id="trigger-fadeup">
				<div class="row">
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-right" data-aos-anchor="#trigger-top" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent" > 
							<br>
							<i class="fab fa-buysellads image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Lead Generation</h5>
							    <p class="card-text">We convert strangers and possibilities into someone who has indicated interest in your company's product or service.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-down" data-aos-anchor="#trigger-top" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent " > 
							<br>
							<i class="fas fa-mail-bulk image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Email Marketing</h5>
							    <p class="card-text">It is essential to build and maintain relationship with present customers and possible customers for deep rooted business which relys on email marketing, and the team helps our customer in it.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 cardWrapper"  data-aos="fade-left" data-aos-anchor="#trigger-top" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent " > 
							<br>
							<i class="fas fa-address-card image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">B2B Process</h5>
							    <p class="card-text">A product or service is complete, when it meets the right buyer. We are the finest in reaching the widened spectators to make it total.</p>
							</div>
						</div>
					</div>
				</div>
				
		</div>
		<div class="container "  id="trigger-top">
				<div class="row">
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-right" data-aos-anchor="#trigger-bottom" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent " > 
							<br>
							<i class="fas fa-drafting-compass image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Website Design</h5>
							    <p class="card-text">A well designed website will help your customer make their next move. There are million reasons to have a website while there is no reason for not to have a website. Have the most relevant website design from us.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-up" data-aos-anchor="#trigger-bottom" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent " > 
							<br>
							<i class="fas fa-poll image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Digital Marketing</h5>
							    <p class="card-text">You are no more physically required to bring out your products or services to the relevant audience, we are here to do that better for you.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-left" data-aos-anchor="#trigger-bottom" data-aos-anchor-placement="top-bottom">
						<div class="card cardContent" > 
							<br>
							<i class="fas fa-magic image"></i>
							<br>
							<div class="card-body">
							    <h5 class="card-title">Graphic Design</h5>
							    <p class="card-text">Contemproary world is communicating more via visual to convey message. We effectively represent information graphically to convey the meaning effeciently.</p>
							</div>
						</div>
					</div>
				</div>		
		<div>

		<div class="container containerText" id="trigger-bottom">
			<div class="jumbotron jumbotronText">
				<em><h4 class="display-5">How do we do?</h4></em>
			</div>
		</div>
		<div class="container serviceClass">
			<div class="row">
				<div class="serviceSteps " >
					<img class="serviceImage" data-aos="fade-right" src="/image/website.png"/>
			    	<br>
					<div class="content-heading" data-aos="fade-left"><h3>Web Development</h3></div>
					<p data-aos="fade-left">Under minimal given time, majority percent of people would prefer to look something designed beautifully than something simple. To grow your business in right way, you must understand the importance of website design. We make your work easy by doing it for you.</p>
				</div>
			</div>
			<div class="row">
				<div class="serviceStepsRightAlign " >
					<div>
						<img class="serviceImage" data-aos="fade-left" src="/image/graphicsdesign.png"/>
						<div class="content-heading" data-aos="fade-right"><h3>Graphics Design</h3></div>
						<p data-aos="fade-right">We make magic by turning your ideas into custom designs, which can't be found anywhere else. Design is as important as your work, as the design speaks before you could show your skill. We will help you find a best designer and collaborate one-on-one with them about your projects.</p>

			    	</div>
				</div>
			</div>
			<div class="row">
				<div class="serviceSteps " >
					<img class="serviceImage" data-aos="fade-right" src="/image/leadgeneration.png"/>
			    	<br>
					<div class="content-heading" data-aos="fade-left"><h3>Lead Generation</h3></div>
					<p data-aos="fade-left">61% of B2B marketers name lead generation as one of their biggest challenges, identifying the right customer for your product or service is not everyone's cup of tea. Contradicting the popular belief, it is not a process of sending out bunch of emails. It’s a complicated process that requires a diverse range of strategies to make it effect.</p>
				</div>
			</div>	
			<div class="row">
				<div class="serviceStepsRightAlign" >
					<div>
						<img class="serviceImage" data-aos="fade-left" src="/image/enlist.png"/>
						<div class="content-heading" data-aos="fade-right"><h3>Enlist </h3></div>
						<p data-aos="fade-right">To convert the leads into customers, we should use effective and relevant communication channels to attain the effeciency. From conversation to convertion our team choses the best medium required for that point of the transition process.</p>

			    	</div>
				</div>
			</div>
			<div class="row">
				<div class="serviceSteps " >
					<img class="serviceImage" data-aos="fade-right" src="/image/transformcopy.png"/>
			    	<br>
					<div class="content-heading" data-aos="fade-left"><h3>Transform</h3></div>
					<p data-aos="fade-left">Focusing on building relationship and turn the leads into customers, we use the most effective and relevant communication channels to communicate with them. Our team of skilled and strategic people keeps the leads warm by continuous follow up, as leads are fresh commodity.</p>
				</div>
			</div>	
		</div>

				
		<div class="container containerText" >
			<div class="jumbotron jumbotronText">
				<h4 class="display-5">Lets make things awesome together!</h4>
			</div>
		</div>
	</div>	
<%- include ('partial/whtsapp.ejs') %>
<%- include ('partial/footer.ejs') %>
