html{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	background-color:  #f5fafa; 
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	background-color:  #f5fafa; 
	margin: 0px;
	padding: 0px;
	/*#FFFAF1;*/
}

.navbar{
	background-color:transparent !important;
	/*background-color: #bae0e0;*/

}

.navbar li a {
	color: black;
}

.homeHeadContainer1{
	background-image: url("/image/laptop.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	max-height: 100vh;
}

.homeHeadContainer2{
    height: 500px;
}

.jumbotronHead{
	background-color:transparent !important;
	text-align: center;
	padding: 4rem 5rem;
}
.jumbotronHead h1{
	font-size: 4rem;
	font-weight: 400;
}
.jumbotronHead p{
	font-size: 1rem;
	font-weight: 400;
}

.jumbotronTitle{
	/*background-color: #bae0e0;*/
	    opacity: 1;
}

.jumbotronText{
	text-align: center;
	background-color: #b0f3f1;
}

.jumbotronText h1{
	font-size: 4vm;
}

.firstheaddiv{
	margin-top: 40px;
}
.cardDiv{
	margin-top: 10px;
	margin-bottom: 10px;
}

.cardContent{
	/*background-color: #f8f9d2;
	background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
	*//*background-color: #c4cace;*/
	background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.image{
	font-size: 4em;
	text-align: center;
	padding-left: 20px;
}

.row{
	margin:12px;
}
.cardWrapper{
	padding-top: 10px;
	padding-bottom: 10px; 
	/*margin: 2px;*/
	width: 50%;
}

.card{
	width: 100%;
	height: 100%;
}


.cardTitle{
	text-align: center;
}

.imgNiresh{
	/*height:250px;
	width:180px;*/
	max-height: 40vh;
	/*max-width: 35vw;*/
	align-items: center;
}

.cardNiresh{
	border: none;
	background-color:transparent !important;
}

.clientReview .clientImage{
	
	height: 150px;
	width: 150px;
	display: block;
	margin: 0px auto;
	padding-bottom: 10px;
}

.logo{
	height: 70px;
	width: 100px;
	font-size: 4px;
}

.nireshtext{
	margin: auto;
	text-align: center;
	/*display: none;*/
}

.cardContent{
	padding: 5px;
	/*display: none;*/
}

.imageLeft{
	text-align: center;
	/*width: 700px;*/
}
.marinaImg{
	max-width: 50vw; 
}

.contactRow{
	margin: 50px auto 60px auto;
}

.contactform h5{
	text-align: center;
	padding: 5px;
}

.contactform .form-control{
	background-color: #f2f3f4;
}

.contactform{
	/*width: 700px;*/
	max-width: 60vw;
	margin: 0px auto;
}



.demo{
	height: 100%;
	width: 1000px;
	min-width: 100%;
	min-height: 100%;
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.demo a{
	position: absolute;
	bottom: 5%;
	left: 45%;
}

/* footer goes here */
.footer{
	height: 45vh;
	background-color: #58595b;
}

.footer .footerrow{
	max-width: 80vw;
	/*width: 500px;*/
	padding: 20px 0px 0px 0px;
	margin: 0px auto;	
}

.footer  div{
	padding: 0px;
}
.socialicon{
	margin: 0px;
}

.footer .link{
	max-width: 50vw;
	align-items: center;
	margin: 0px auto;
}

.footer .link a{
	color: #17a2b8;
	font-weight: bold;
	font-size: 2.3vh;
}

.footer p, .footer a{
	font-size: 2vh;
	text-align: center;
	color: white;
}


.footer .fab, .footer .fas{
	font-size: 2vw;
}


/* service how we help you grow div */

.serviceClass{
	padding: 80px;
}


.serviceImage {
	height: 150px;
	width: 120px;
}
/* About us page, dna and values content */

.about{
	padding: 20px 20px;
}

.about .dna{
	text-align: left;
}
.values div p, .values div h1{
	text-align: center;
}

.values div hr{
	width: 20%;
	border-color: blue;
}

.about h6{
	font-size: 0.75rem;
}

/* About us page, dna and values content */
.whtsapp{
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.whtsappicon{
	font-size: 4rem;
	color: #4FCE5D;
}


