<%- include ('partial/header.ejs') %>

	
		<div class="container homeHeadContainer2" data-aos="fade-down-right">
			
			<div class="jumbotron jumbotronTitle jumbotronHead">
				<h1 class="display-4" data-aos="fade-right">About</h1>
				<p class="lead" data-aos="fade-right">Skill is impossible to share, but we chose to share it by giving our works to our valuable customers. While you focus on your business we are here to enhance it.</p>
			</div>
		</div>	
	</div>
	<div class="container firstheaddiv" id="trigger-left">
		<div class="jumbotron jumbotronText" >
			<em><h4 class="display-5" data-aos="fade-up" data-aos-anchor="#trigger-fadeup" data-aos-anchor-placement="top-bottom">How can we help you?</h4></em>
		</div>
	</div>

	<div class="hideDiv" id="trigger-fadeup" >
				<div class="container cardDiv" >
					<div class="row">
						<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-right" data-aos-anchor="#trigger-top1" data-aos-anchor-placement="top-bottom">
							<div class="card cardContent" > 
								<br>
								<i class="fas fa-fingerprint image"></i>
								<br>
								<div class="card-body">
								    <h5 class="card-title">Who Are We</h5>
								    <p class="card-text">We are the one who love to learn, collaborate and achieve.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-12 cardWrapper" id="trigger-top1" data-aos="fade-down" data-aos-anchor="#trigger-top2" data-aos-anchor-placement="top-bottom">
							<div class="card cardContent " > 
								<br>
								<i class="fas fa-eye image"></i>
								<br>
								<div class="card-body">
								    <h5 class="card-title">Our Vision</h5>
								    <p class="card-text">To make our clients feel they reached the right spot for their solution. </p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-12 cardWrapper" id="trigger-top2" data-aos="fade-left" data-aos-anchor="#trigger-top3" data-aos-anchor-placement="top-bottom">
							<div class="card cardContent " > 
								<br>
								<i class="fas fa-greater-than image"></i>
								<br>
								<div class="card-body">
								    <h5 class="card-title">What We Do</h5>
								    <p class="card-text">We deliver deliberate results with skilled and creative team.</p>
								</div>
							</div>
						</div>
					</div>	
				</div>		
	</div>
			


	<div class="container about" id="trigger-top3">
		<div class="container">
			<div class="row">
				<div class="dna col-12" data-aos="fade-right" data-aos-anchor="#trigger-right1" data-aos-anchor-placement="top-bottom">
					<h6><em><strong>OUR DNA</strong></em></h6>
					<p>There are many out there who do what we do. They share the same <em>what</em> and <em>how</em> as us, but our clients keep our work going for our <em>why</em> and our <em>who</em>. We are the brains and creativity with business sense. What matters the most is <strong> experience</strong>, for which we intend to sharpen our skills every moment. </p>
				</div>
			</div>
				
			<br>
			<div class="row">
				<div id="trigger-right1" class="col-12" data-aos="fade-right" data-aos-anchor="#trigger-right2" data-aos-anchor-placement="top-bottom">
					<h6><em><strong>OUR VALUES</strong></em></h6>
					<p>This is the <em> love of our life </em> and the base for all decisions made withing these walls. Heads up, they tend to be contagious.</p>
				</div>
			</div>
			<div class="values">
				<div data-aos="fade-down" data-aos-anchor="#trigger-fade-down1" data-aos-anchor-placement="top-bottom" id="trigger-right2">
					<br>
					<hr>
					<br>
					<h1><strong><em>Collaboration.</em></strong></h1>
					<p>Leverage collective genius.</p>
					<br>
				</div>
				<div data-aos="fade-down" data-aos-anchor="#trigger-fade-down2" data-aos-anchor-placement="top-bottom" id="trigger-fade-down1">
					<hr>
					<br>
					<h1><strong><em>Adventure.</em></strong></h1>
					<p>Take risks and embrace where they take you.</p>
					<br>
				</div>
				<div data-aos="fade-down" data-aos-anchor="#trigger-fade-down3" data-aos-anchor-placement="top-bottom" id="trigger-fade-down2">
					<hr>
					<br>
					<h1><strong><em>Innovation.</em></strong></h1>
					<p>Creativity at its best.</p>
					<br>
				</div>
				<div data-aos="fade-down" data-aos-anchor="#trigger-fade-down4" data-aos-anchor-placement="top-bottom" id="trigger-fade-down3">
					<hr>
					<br>
					<h1><strong><em>Integrity.</em></strong></h1>
					<p>Be real.</p>
					<br>
				</div>
				<div data-aos="fade-down" data-aos-anchor="#trigger-fade-down5" data-aos-anchor-placement="top-bottom" id="trigger-fade-down4">
					<hr>
					<br>
					<h1><strong><em>Quality.</em></strong></h1>
					<p>What we do, we do well.</p>
					<br>
					<hr>
					<br>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="trigger-fade-down5">
		<div class="jumbotron jumbotronText" id="trigger-bottom">
			<em><h4 class="display-5">Meet the Man Behind</h4></em>
		</div>
		<div class="row">
			<div class="col-lg-4 col-12 cardWrapper" data-aos="fade-left" data-aos-anchor="#trigger-leftright" data-aos-anchor-placement="top-bottom">
				<div class="card cardNiresh " > 
					<i class="image"><img class="imgNiresh"src="/image/Niresh.jpg" ></i>
				</div>
			</div>
			<div class="col-lg-8 col-12" data-aos="fade-right" data-aos-anchor="#trigger-leftright" data-aos-anchor-placement="top-bottom">
				<div class="card-body">
				    <h4 class="card-title cardTitle">Niresh Kumar</h4>
				    <h5 class="card-title cardTitle">CEO, Founder</h5>
				    <p class="card-text nireshtext">Niresh has over 8 years of experience in bring up great solutions. But his passion towards learning made things possible. He started working in startup to learn everything from basic which made him master it today. He chose 'OutofboxSolutionz' to show out his unique skill and his love towards his passion.</p>
				</div>
			</div>				
		</div>
	</div>

		
		<div class="container containerText" id="trigger-leftright">
			<div class="jumbotron jumbotronText">
				<h4 class="display-5">Lets make things awesome together!</h4>
			</div>
		</div>
	
<%- include ('partial/socialNetworkFooter.ejs') %>	
<%- include ('partial/whtsapp.ejs') %>	
<%- include ('partial/footer.ejs') %>
