<!DOCTYPE html>
<html>
<head>
	<title>Happy birthday my love!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
	<style>
		body{
/*			background-color: #ddf0f0;*/
			background-image: url("/image/birthdaybackgroundcopy.jpg");
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			color: black;
			font-weight: bold;
		}
		.jumbotron {
			background-image: url("/image/birthdaycake.jpeg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 600px;
		}
		.container{
			padding: 20px 150px;
		}
		.container h1{
			text-align: center;
		}
		.serviceImage {
		float: left;
		height: 200px;
		width: 170px;
		padding-left: 20px;
		}
		.serviceSteps h3, .serviceSteps p{
			padding-left: 200px;
		}
		.images{
			height: 400px;
			width: 300px;
			padding: 10px;
		}
		.floatleft{
			float: left;
		}
		.floatright{
			float: right;
		}

	</style>
</head>
<body>
	<div class="jumbotron"></div>
	<div class="container">
		<div data-aos="fade-up" data-aos-anchor="#trigger-fadeup" data-aos-anchor-placement="top-bottom">
			<h1>Happiest birthday my love !</h1>
			<br>
			<p>Words would never be enough to talk about you and me! Still its a dream come true moment for me to getting married to you. At times i wonder how we got married. Whatever came and whoever left, we both stood strong for one another. I'm really really lucky to have you in my life.</p>
			<p>If i ever write a book about my life, for sure most of the pages would be about you. Atleast every page will have your name in it. Coz <em>my life is nothing without you.</em>. I wish we live longer and longer and longer as like this.</p>
		</div>	
		<br><br>
		<div class="row">
				<div class="serviceSteps" id="trigger-fadeup">
					<img class="serviceImage" data-aos="fade-right" src="/image/Niresh.jpg"/>
			    	<br>
					<div class="content-heading" data-aos="fade-left"><h3>Wish you success</h3></div>
					<p data-aos="fade-left">May your professional and personal life be very good from now on, i wish you accomplish greater heights in your career. Everyone will be surprised by your growth, already many are!. </p>
				</div>
		</div>
		<br> 
		<div class="backgroundImage"> 
			<div class="container">	
				<img class="images floatleft" data-aos="fade-down" data-aos-anchor="#trigger-fadedown1" src="/image/img2.jpeg"> <br>

			</div>
			<div class="container">	
				<img class="images floatright" data-aos="fade-down" data-aos-anchor="#trigger-fadedown2" data-aos-anchor-placement="top-bottom" ID="trigger-fadedown1" src="/image/img1.jpeg"> <br>
			</div>
			<div class="container">	
				<img class="images floatleft" data-aos="fade-down" data-aos-anchor="#trigger-fadedown3" data-aos-anchor-placement="top-bottom" id="trigger-fadedown2" src="/image/img3.jpeg"> <br>
			</div>
			<div class="container">	
				<img class="images floatright" data-aos="fade-down" data-aos-anchor="#trigger-fadedown4" data-aos-anchor-placement="top-bottom" id="trigger-fadedown3" src="/image/img4.jpeg"> <br>
			</div>
			<div class="container">	
				<img class="images floatleft" data-aos="fade-down" data-aos-anchor="#trigger-fadedown5" data-aos-anchor-placement="top-bottom" id="trigger-fadedown4" src="/image/img5.jpeg"> <br>
			</div>
			<div data-aos="fade-left" data-aos="fade-right" data-aos-anchor-placement="top-bottom" id="trigger-fadedown5" >
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
	<script type="text/javascript">
		AOS.init({
		 duration: 1200
		});
	</script>
</body>
</html>