	<div class="footer">
	<br>
		<div class="row footerrow">
			<div class=" col-3">
				<p><i class="fas fa-at"></i> outofboxsolutionz@gmail.com</p>
			</div>
			<div class=" col-3">
				<p><i class="fas fa-phone-alt"></i> +91 8122504154</p>
			</div>
			<div class=" col-3">
				<p><i class="fab fa-whatsapp"></i> +91 9566588692</p>
			</div>
			<div class=" col-3">
				<p><i class="fas fa-map-marker-alt"></i> Chennai, India</p>
			</div>
		</div>
		<div class="row footerrow">
			<div class=" col-7">
				<div class="row  socialicon">
					<div class="col-2">
						<a class="btn btn-info" href="#"><i class="fab fa-linkedin-in"></i></a>	
					</div>
					<div class="col-2">
						<a class="btn btn-info" href="#"><i class="fab fa-facebook-f"></i></a>
					</div>
					<div class="col-2">
						<a class="btn btn-info" href="#"><i class="fab fa-instagram"></i></a>
					
					</div>
					<div class="col-2">
						<a class="btn btn-info" href="#"><i class="fab fa-pinterest"></i></a>
					</div>
					<div class="col-2">
						<a class="btn btn-info" href="#"><i class="fab fa-twitter"></i></a>
					</div>
					<div class="col-2">
						<a class="btn btn-info" href="#"><i class="fab fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class=" col-5">
				<div class="row link ">
					<div class="col-3">
					 	<a href="/">Home</a>
					</div>
					<div class="col-3">
					 	<a href="/Service">Service</a>
					</div>
					<div class="col-3">
					 	<a href="/About">About</a>
					</div>
					<div class="col-3">
					 	<a href="/Contact">Contact</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>